@model IEnumerable<Project.Models.Movie>
@{
    ViewData["Title"] = "Booking";

    if(ViewBag.acsses  =="Admin")
	{
		 Layout = "~/Views/Shared/_AdminLayout.cshtml";
	}
}
<!DOCTYPE html>
<html>
<head>
    <title>Booking</title>
</head>

<body>
    <div class="book">
    <div class="movie-cont">
        <label> Movie:</label>
        <select>
            @foreach (var item in Model)
            {
                <option>@item.Title</option>
            }
        </select>
        <div class="date">
            <label> Day:</label>
            <input type="date"></input>
            <label> Time:</label>
            <input type="time"></input>
            <br><br>
            <label> Tickets:</label>
            <input class="Tickets" type="number"></input>
            <label> Price: 100egp</label>
        </div>
    </div>

    <ul class="showcase">
        <li><div class="Available"></div>Available</li>
        <li><div class="Booked"></div>Booked</li>
    </ul>

    <div class="cont">
        <div class="screen">screen</div>

        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>

        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
        </div>
        <div class="row">
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat "></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat sold"></div>
            <div class="seat sold"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
    </div>
    <a class="btn">Book</a>
    </div>   
    <script>
    const cont = document.querySelector('.cont');
        cont.addEventListener('click', (e) => {
            if (e.target.classList.contains('seat') && !e.target.classList.contains('booked')) {
                e.target.classList.toggle('selected');

                updateSelectedCount();
            }
        });
    </script>
</body>
</html>
