@model User
@{
    ViewData["Title"] = "Login";
    if(ViewBag.acsses != null)
	{
		 Layout = "~/Views/Shared/_AdminLayout.cshtml";
	}
}

<form asp-controller="Account" asp-action="Login" method="post">
  <div class="form-group">
    <label for="nn">Nnn</label>
    <input type="text" class="form-control" id="mm" name = "nn" placeholder="Enter Name">
    </div>
<div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter email" required >
    </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
